<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3d9edcaa-1ec7-4597-ae83-d32af01ddc2f" name="TestSuite 3" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3d9edcaa-1ec7-4597-ae83-d32af01ddc2ffileName">TestSuite-3</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>