<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="398d02b7-c68d-4dcb-958c-a7d8d840e371" name="TestSuite 4" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="398d02b7-c68d-4dcb-958c-a7d8d840e371fileName">TestSuite-4</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>